<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="POS1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <POS1.Properties.Settings>
            <setting name="custom" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="custom0" serializeAs="String">
                <value>CenterScreen</value>
            </setting>
            <setting name="custom1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="custom2" serializeAs="String">
                <value>Sizable</value>
            </setting>
            <setting name="custom3" serializeAs="String">
                <value>PRINT PREVIEW</value>
            </setting>
            <setting name="c4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="c3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="c2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="c1" serializeAs="String">
                <value>Rockwell, 10.8pt, style=Bold</value>
            </setting>
            <setting name="cc" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="k" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ccc" serializeAs="String">
                <value>CenterParent</value>
            </setting>
        </POS1.Properties.Settings>
    </userSettings>
</configuration>
